env: tst
ingress:
  domainName: -gcp2.staging.entur.io

gcp:
  nisaba:
    bucketName: nisaba-test
    exchangeBucketName: ror-nisaba-exchange-test

auth0:
  internal:
    url: https://internal.staging.entur.org/
    audience: https://api.staging.entur.io

  partner:
    url: https://partner.staging.entur.org/
    audience: https://api.staging.entur.io

  client:
    clientId: HpqHF7DDzDt9sNF4HSUzohqSPvYICpRO
    tokenUri: https://internal.staging.entur.org/oauth/token
    audience: https://api.staging.entur.io

baba:
  service: http://baba.tst.entur.internal

roleAssignmentExtractor: baba