env: prd
ingress:
  domainName: -gcp2.entur.io

gcp:
  nisaba:
    bucketName: nisaba-production
    exchangeBucketName: ror-nisaba-exchange-production

auth0:
  internal:
    url: https://internal.entur.org/
    audience: https://api.entur.io

  partner:
    url: https://partner.entur.org/
    audience: https://api.entur.io

  client:
    clientId: s848dGHEirky0wZ2O7M4tsCVuFUbherY
    tokenUri: https://internal.entur.org/oauth/token
    audience: https://api.entur.io

baba:
  service: http://baba.prd.entur.internal

roleAssignmentExtractor: baba
